{extend name="base" /}
{block name="title"}
问卷调查
{/block}
{block name="body"}
    <div class="page__hd">
        <h1 class="page__title" style="text-align:center">{$table.title}</h1>
        <p class="page__desc" style="text-align:center">{$table.description}</p>
    </div>
    <form action="/index/view/save" method="post">
    <div class="page__bd">
		{foreach $table['question'] as $k=>$vo}
		   	<div class="weui-cells__title">问题{$k+1}-{$vo.name}</div>
			{switch name="vo.type"}
			    {case value="0"}
		        <div class="weui-cells weui-cells_radio">
		        	{foreach $vo['option'] as $value}
		            <label class="weui-cell weui-check__label">
		                <div class="weui-cell__bd">
		                    <p>{$value.name}</p>
						</div>
		                <div class="weui-cell__ft">
		                    <input name="question[{$vo.id}]" class="weui-check" value="{$value.name}" type="radio" >
		                    <span class="weui-icon-checked"></span>
		                </div>
		            </label>
					{/foreach}
				</div>
			    {/case}
			    {case value="1"}
			    <div class="weui-cells weui-cells_checkbox">
		        	{foreach $vo['option'] as $value}
		            <label class="weui-cell weui-check__label">
		                <div class="weui-cell__hd">
		                    <input class="weui-check" name="question[{$vo.id}][]" value="{$value.name}" type="checkbox">
		                    <i class="weui-icon-checked"></i>
		                </div>
		                <div class="weui-cell__bd">
		                    <p>{$value.name}</p>
		                </div>
		            </label>
					{/foreach}
				</div>
			    {/case}
			    {default /}
				<div class="weui-cells">
		            <div class="weui-cell">
		                <div class="weui-cell__bd">
		                    <input class="weui-input" placeholder="请输入文本" type="text" name="question[{$vo.id}]">
		                </div>
		            </div>
		        </div>
			{/switch}
		{/foreach}    
		<div class="weui-cell weui-cell_vcode">
            <div class="weui-cell__hd"><label class="weui-label">验证码</label></div>
            <div class="weui-cell__bd">
                <input class="weui-input" placeholder="请输入验证码" type="text" name="verify" >
            </div>
            <div class="weui-cell__ft">

                <img class="weui-vcode-img" src="{:captcha_src()}" alt="点击更换" title="点击更换" onclick="this.src='{:captcha_src()}?time='+Math.random()"/>
            </div>
        </div>    
        <div class="weui-btn-area">
            <button class="weui-btn weui-btn_primary" type="submit">提交</button>
        </div>
    </div>
	</form>
{/block}