<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
      <title>{block name="title"}{/block}微信</title>
      <link rel="stylesheet" href="/weixin/css/weui.min.css"/>
      <link rel="stylesheet" href="/weixin/css/example.css"/>
  </head>
  <body>
    <div class="page input js_show">
        {block name="body"}{/block}

        <div class="page__ft">
            <p class="weui-footer__links">
                <a href="" class="weui-footer__link">八星行版权所有</a>
            </p>
            <p class="weui-footer__text">Copyright &copy; 2017 8starup.com</p>
        </div>
    </div>


  </body>
</html>